@import "reset.css";
body {
	background-color: #d3ce89;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0px;
}

.canvas {
	width: 700px;
	height: 700px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls_colors {
	margin-top: 80px;
}

.controls_colors button {
	all: unset;
	cursor: pointer;
}

.controls_colors button:active {
	transform: scale(0.7);
}

.controls_colors .control_color {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	cursor: pointer;
	margin-left: 10px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls_btn {
	margin-top: 30px;
}

.controls_btn button {
	all: unset;
	cursor: pointer;
	background-color: peachpuff;
	width: 80px;
	padding: 5px 0px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	border: 2px solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.8);
}

.controls_btn button:active {
	transform: scale(0.8);
}

div.controls_range {
	width: 260px;
	margin-bottom: 30px;
	margin-top: 20px;
}

input#jsRange {
	margin-left: 60px;
}
